body{
    background-color: black;
}
.head{
  color: white;
}
.container
{
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.card
{
  position: relative;
  margin: 20px 16px;
  width: 300px;
  height: 400px;
  background: #f0e9e9;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 10px 0 20px #f0ecec80, 0 10px 20px #eeeaea80;
  transition: 1s;
}
.card:hover
{
  z-index: 10000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 10px 10px 50px #e68b8b80, 0 10px 100px #f1dede80;
}

.card .Box
{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  transform-origin: left;
  z-index: 1;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
  background: #111;
}
.card .Box img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover .Box
{
  transform: rotateY(-135deg);
}

.card .details
{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  z-index: -1;
  font-family: 'Roboto', sans-serif;
  border: 2px solid gray
}
 
.info1{
    color: black;
    padding: 5px;
    margin-bottom: 8px;
    text-shadow: 2px 2px 4px gray;
}
.info2{
    background: linear-gradient(to bottom, darkred, red, #f07e7e);
    color: peachpuff;
    border-radius: 10px;
    box-shadow: 9px 9px 4px #f1b7b7;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 32px;
    border: 1px solid gray;

}

.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
}

.neon {
  /* position: relative; */
  background: black;
  color: transparent;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}

.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* z-index: 10; */
}

.gradient {
  background: linear-gradient(45deg, red, white, red);
  mix-blend-mode: multiply;
}

.spotlight {
  -webkit-animation: light 5s infinite linear;
          animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0/25% 25%, radial-gradient(circle, white, black 25%) 50% 50%/12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}

@-webkit-keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.neon {
  font: 700 5em "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

body {
  margin-top: 5em;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px 25px;
  margin-bottom: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #ff4848;
background: linear-gradient(0deg, #e40202 0%, #ff0505 100%);
}


.custom-btn:hover {
  color: #f00909;
  background: transparent;
   box-shadow:none;
}
.custom-btn:before,
.custom-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ff0303;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.custom-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.custom-btn:hover:before,
.custom-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}
